{% load image_filters %}
<a href="{% url 'blog_detail' title=blog.title|slugify %}">
    <div style="height: 350px; sm:height: 350px;" class="group relative overflow-hidden rounded-xl border border-zinc-700 transition-all duration-300 transform h-full">
        <div class="absolute inset-0">
            <img
                src="{{ blog.image_url|wsrv_image:'300x300' }}"
                alt="{{ blog.title }}"
                class="w-full h-full object-cover group-hover:scale-105 group-hover:blur-sm transition-all duration-500"
                loading="lazy"
            />
            <div class="absolute inset-0 bg-gradient-to-t from-black via-zinc-900/80 to-zinc-900/10"></div>
        </div>

        <div class="relative z-10 p-3 sm:p-4 flex flex-col h-full">
            <div class="flex flex-wrap gap-1 mb-2 sm:mb-4">
                {% for tag in blog.tags|slice:":3" %}
                    <span class="text-xs font-medium rounded-full bg-zinc-900 px-2 py-0.5 sm:px-2.5 sm:py-1 font-mono">
                        #{{ tag|slugify }}
                    </span>
                {% endfor %}
                {% if blog.tags|length > 3 %}
                    <span class="text-xs font-medium rounded-full bg-zinc-900 px-2 py-0.5 sm:px-2.5 sm:py-1 font-mono">
                        +{{ blog.tags|length|add:"-3" }}
                    </span>
                {% endif %}
            </div>

            <div class="flex-grow"></div>

            <h3 class="text-base sm:text-lg font-semibold mb-1 sm:mb-2 line-clamp-2 relative inline-block">
                <span class="relative transition-colors duration-300 group-hover:underline group-hover:decoration-2">{{ blog.title }}</span>
            </h3>
            <p class="text-xs sm:text-sm text-zinc-400 line-clamp-2 sm:line-clamp-3 mb-2">{{ blog.description }}</p>

            <div class="mt-auto">
                <hr class="border-t border-zinc-500 w-full mb-2 sm:mb-3" />

                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-1 sm:space-x-2">
                        <img alt="Profile photo of {{ blog.author }}" loading="lazy" width="24" height="24" class="rounded-full w-4 h-4 sm:w-5 sm:h-5" src="{{ blog.author_image|wsrv_image:'50x50' }}" width="50" height="50" />
                        <span class="text-xs sm:text-sm text-zinc-400 truncate max-w-[100px] sm:max-w-[150px]">{{ blog.author }}</span>
                    </div>

                    <div class="flex items-center min-w-[110px] sm:min-w-[150px] relative">
                        <!-- Date: fade out and move down on hover -->
                        <span
                            class="transition-all duration-300 transform group-hover:opacity-0 group-hover:translate-y-4 group-hover:pointer-events-none opacity-100 pointer-events-auto translate-y-0 absolute left-0 w-full flex justify-end"
                        >
                            <time datetime="{{ blog.created_at|date:'c' }}" class="text-xs text-zinc-400 hidden sm:inline">{{ blog.created_at|date:"F j, Y" }}</time>
                            <time datetime="{{ blog.created_at|date:'c' }}" class="text-xs text-zinc-400 sm:hidden">{{ blog.created_at|date:"F j, Y" }}</time>
                        </span>
                        <!-- Read more: fade in and move down from top on hover -->
                        <span
                            class="transition-all text-zinc-400 duration-300 transform group-hover:opacity-100 group-hover:translate-y-0 opacity-0 pointer-events-none group-hover:pointer-events-auto -translate-y-4 flex items-center text-xs sm:text-sm absolute left-0 w-full justify-end"
                        >
                            Read more
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-3 w-3 sm:h-4 sm:w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
