{% load image_filters %}
<div class="flex items-center gap-2 md:gap-3">
    {% if blog.author_image %}
    <img src="{{ blog.author_image|wsrv_image:'50x50' }}" alt="{{ blog.author }}" class="w-8 h-8 sm:w-9 sm:h-9 rounded-full" width="50" height="50" />
    {% endif %}
    <div class="flex flex-col">
        <a href="https://bio.ridwaanhall.com" target="_blank" rel="noopener noreferrer" class="inline-flex items-center underline hover:text-zinc-200 hover:underline transition-colors duration-200 w-fit">
            <span class="font-medium">{{ blog.author }}</span>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-blue-400 ml-1" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                    d="M23 12l-2.44-2.79.34-3.69-3.61-.82-1.89-3.2L12 2.96 8.6 1.5 6.71 4.69 3.1 5.5l.34 3.7L1 12l2.44 2.79-.34 3.7 3.61.82L8.6 22.5l3.4-1.47 3.4 1.46 1.89-3.19 3.61-.82-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81 1.48-1.48 2.32 2.33 5.85-5.87 1.48 1.48-7.33 7.35z"
                ></path>
            </svg>
        </a>
        <div class="text-xs sm:text-sm">
            <time datetime="{{ blog.created_at|date:'c' }}">{{ blog.created_at|date:"g:i A T, D F j, Y" }}</time>
            {% if blog.updated_at|date:'YmdHis' > blog.created_at|date:'YmdHis' %}
            <span class="mx-1">•</span>
            <span class="text-zinc-400 italic">Edited {{ blog.updated_at|date:"g:i A T, D F j, Y" }}</span>
            {% endif %}
        </div>
    </div>
</div>