{% extends 'base.html' %}

{% block head_seo %}

<title>{{ seo.title }}</title>

<meta name="author" content="{{ about.username }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ request.build_absolute_uri }}">

<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">

<meta property="og:type" content="{{ seo.og_type }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{{ seo.title }}">
<meta property="og:description" content="{{ seo.description }}">
<meta property="og:image" content="{{ seo.og_image }}">

<meta property="twitter:card" content="{{ seo.twitter_card }}">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta property="twitter:title" content="{{ seo.title }}">
<meta property="twitter:description" content="{{ seo.description }}">
<meta property="twitter:image" content="{{ seo.og_image }}">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "AboutPage",
        "mainEntity": {
            "@type": "Person",
            "name": "{{ about.name }}",
            "description": "{{ seo.description }}",
            "image": "{{ about.image_url }}",
            "jobTitle": "{{ about.role }}",
            "url": "{{ request.build_absolute_uri }}",
            "sameAs": [
                {% if about.social_media.github %}"{{ about.social_media.github }}"{% else %}null{% endif %},
                {% if about.social_media.linkedin %}"{{ about.social_media.linkedin }}"{% else %}null{% endif %},
                {% if about.social_media.x %}"{{ about.social_media.x }}"{% else %}null{% endif %},
                {% if about.social_media.medium %}"{{ about.social_media.medium }}"{% else %}null{% endif %},
                {% if about.social_media.instagram %}"{{ about.social_media.instagram }}"{% else %}null{% endif %}
            ]
        }
    }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "name": "Site Navigation",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "{{ request.scheme }}://{{ request.get_host }}/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "About",
                "item": "{{ request.scheme }}://{{ request.get_host }}/about"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Career",
                "item": "{{ request.scheme }}://{{ request.get_host }}/career"
            },
            {
                "@type": "ListItem",
                "position": 4,
                "name": "Dashboard",
                "item": "{{ request.scheme }}://{{ request.get_host }}/dashboard"
            },
            {
                "@type": "ListItem",
                "position": 5,
                "name": "Projects",
                "item": "{{ request.scheme }}://{{ request.get_host }}/projects"
            },
            {
                "@type": "ListItem",
                "position": 6,
                "name": "Blog",
                "item": "{{ request.scheme }}://{{ request.get_host }}/blog"
            },
            {
                "@type": "ListItem",
                "position": 7,
                "name": "Contact",
                "item": "{{ request.scheme }}://{{ request.get_host }}/contact"
            }
        ]
    }
</script>

{% endblock %}

{% block content %}
<div class="flex-1 md:ml-62">
    <main class="px-4 py-6 md:px-6 lg:px-8">
        <div class="max-w-7xl mx-auto">

            <div class="mb-8">
                <div class="flex flex-col md:flex-row md:items-center justify-between gap-6">
                    <div>
                        <h1 class="text-4xl font-bold mb-2 tracking-tight">About <span class="text-indigo-400">Me</span></h1>
                        <p class="mt-2 text-lg text-zinc-300 leading-relaxed">{{ about.role }} based in {{ about.location.province }} {{ about.location.country }}, hyped about helping coders nail AI and build dope solutions.</p>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
                <!-- Story Section -->
                <div class="lg:col-span-12">
                    <div class="mb-6 space-y-6">
                        
                        <!-- About Me Content -->
                        <div class="space-y-6">
                            <div class="border border-zinc-700 rounded-xl p-6 hover:border-indigo-500 transition-all duration-300">
                                <p class="text-indigo-400 text-xl font-medium mb-4">Assalamu'alaikum</p>
                                
                                {% for story in about.stories %}
                                <div class="mb-2">
                                    <p class="text-lg text-zinc-300">{{ story|safe }}</p>
                                </div>
                                {% endfor %}
                                
                                <p class="text-indigo-400 text-xl font-medium mt-6">Wassalamu'alaikum!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}