{% extends 'base.html' %}

{% block head_seo %}

<title>{{ seo.title }}</title>

<meta name="author" content="{{ about.username }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ request.build_absolute_uri }}">

<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">

<meta property="og:type" content="{{ seo.og_type }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{{ seo.title }}">
<meta property="og:description" content="{{ seo.description }}">
<meta property="og:image" content="{{ seo.og_image }}">

<meta property="twitter:card" content="{{ seo.twitter_card }}">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta property="twitter:title" content="{{ seo.title }}">
<meta property="twitter:description" content="{{ seo.description }}">
<meta property="twitter:image" content="{{ seo.og_image }}">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "AboutPage",
        "mainEntity": {
            "@type": "Person",
            "name": "{{ about.name }}",
            "description": "{{ seo.description }}",
            "image": "{{ about.image_url }}",
            "jobTitle": "{{ about.role }}",
            "url": "{{ request.build_absolute_uri }}",
            "sameAs": [
                "{{ about.social_media.github }}",
                "{{ about.social_media.linkedin }}",
                "{{ about.social_media.x }}",
                "{{ about.social_media.medium }}",
                "{{ about.social_media.instagram }}"
            ]
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="flex-1 md:ml-68">
    <main class="p-6">
        <div class="max-w-7xl mx-auto">
            <!-- Hero Section -->
            <section class="mb-8 mt-10">
                <div class="max-w-3xl">
                    <h1 class="text-3xl md:text-4xl font-bold mb-3 tracking-tight">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-purple-400">About Me</span>
                    </h1>
                    <p class="text-xl">
                        <span class="text-indigo-400">{{ about.role }}</span> based in 
                        <span class="text-purple-400">{{ about.location.province }}</span>, 
                        <span class="text-purple-400">{{ about.location.country }}.</span>
                    </p>
                </div>
            </section>

            <!-- Main content -->
            <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
                <!-- Story Section -->
                <div class="lg:col-span-12">
                    <div class="mb-6 space-y-6">
                        
                        <!-- About Me Content -->
                        <div class="space-y-6">
                            <div class="border border-gray-700 rounded-xl p-6 hover:border-indigo-500 transition-all duration-300">
                                <p class="text-indigo-400 text-xl font-medium mb-4">Assalamu'alaikum</p>
                                
                                {% for story in about.stories %}
                                <div class="mb-2">
                                    <p class="text-lg text-gray-300">{{ story|safe }}</p>
                                </div>
                                {% endfor %}
                                
                                <p class="text-indigo-400 text-xl font-medium mt-6">Wassalamu'alaikum!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}