{% extends 'base_seo.html' %}
{% load static %}
{% block content %}
<div class="flex-1 md:ml-62">
    <main class="px-3 py-4 sm:px-4 md:px-6 lg:px-8">
        <div class="max-w-7xl mx-auto">
            <div class="mb-6 sm:mb-8">
                <div class="flex flex-col md:flex-row md:items-center justify-between gap-4 sm:gap-6">
                    <div>
                        <h1 class="text-2xl lg:text-3xl font-medium mb-2 tracking-tight">Contact <span class="text-indigo-400">Me</span></h1>
                        <p class="mt-1 sm:mt-2 text-base sm:text-lg leading-relaxed">Got a question or ready to team up on an AI project? Hit me up—let's make something awesome!</p>
                    </div>
                </div>
            </div>

            {% include 'core/social.html' %}

            <!-- Contact Form -->
            <div class="mt-8">
                <h2 class="text-xl font-medium flex items-center">
                    <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 4.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                    </svg>
                    Send me a message
                </h2>
                <p class="text-zinc-400 text-sm mt-2 mb-4">Fill out the form below and I'll get back to you as soon as possible!</p>

                <form id="contact-form">
                    {% csrf_token %}
                    <div class="flex flex-grow flex-col gap-4">
                        <div class="flex flex-col gap-4 md:flex-row">
                            <input class="w-full rounded-md border border-zinc-600 px-3 py-2 focus:outline-none focus:border-indigo-500 bg-transparent placeholder-zinc-400 text-zinc-200" type="text" placeholder="Name*" name="name" required value="" />
                            <input
                                class="w-full rounded-md border border-zinc-600 px-3 py-2 focus:outline-none focus:border-indigo-500 bg-transparent placeholder-zinc-400 text-zinc-200"
                                type="email"
                                placeholder="Email*"
                                name="email"
                                required
                                value=""
                            />
                        </div>
                        <textarea
                            class="w-full rounded-md border border-zinc-600 px-3 py-2 focus:outline-none focus:border-indigo-500 bg-transparent placeholder-zinc-400 text-zinc-200 resize-vertical"
                            rows="5"
                            placeholder="Message*"
                            name="message"
                            required
                        ></textarea>
                        <button
                            class="flex cursor-pointer items-center gap-2 rounded-lg border border-zinc-700 bg-zinc-800 px-2 py-2 text-base font-medium text-zinc-50 hover:border-zinc-400 hover:bg-zinc-900 hover:shadow-md hover:shadow-zinc-400/20 transition-all duration-300 justify-center"
                            type="submit"
                        >
                            Send Message
                        </button>
                    </div>
                    <div class="my-5 flex items-center gap-2 text-zinc-400 mt-4">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12 6 12 12 16 14"></polyline>
                        </svg>
                        <div class="text-sm"><span class="font-medium">Avg. response:</span> 1-2 Hours (Working Hours, GMT+7)</div>
                    </div>
                </form>
            </div>

        </div>
    </main>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/updateTime.js' %}"></script>
{% endblock %}
