<div class="mb-6 border-b border-zinc-700">
    <div class="flex flex-wrap min-w-full -mb-px text-sm font-medium text-center" role="tablist">
        <button
            id="tab-intro"
            onclick="switchTab('intro')"
            class="inline-block cursor-pointer p-2 sm:p-4 border-b-2 border-zinc-300 text-zinc-300 rounded-t-lg hover:text-zinc-300 hover:border-zinc-300 flex-1 sm:flex-none whitespace-nowrap"
            aria-selected="false"
            role="tab"
        >
            Intro
        </button>
        <button
            id="tab-experiences"
            onclick="switchTab('experiences')"
            class="inline-block cursor-pointer p-2 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-zinc-300 hover:border-zinc-300 flex-1 sm:flex-none whitespace-nowrap"
            aria-selected="false"
            role="tab"
        >
            Experiences
        </button>
        <button
            id="tab-education"
            onclick="switchTab('education')"
            class="inline-block cursor-pointer p-2 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-zinc-300 hover:border-zinc-300 flex-1 sm:flex-none whitespace-nowrap"
            aria-selected="false"
            role="tab"
        >
            Educations
        </button>
        <button
            id="tab-awards"
            onclick="switchTab('awards')"
            class="inline-block cursor-pointer p-2 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-zinc-300 hover:border-zinc-300 flex-1 sm:flex-none whitespace-nowrap"
            aria-selected="false"
            role="tab"
        >
            Awards
        </button>
        <button
            id="tab-certifications"
            onclick="switchTab('certifications')"
            class="inline-block cursor-pointer p-2 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-zinc-300 hover:border-zinc-300 flex-1 sm:flex-none whitespace-nowrap"
            aria-selected="false"
            role="tab"
        >
            Certifications
        </button>
        <button
            id="tab-applications"
            onclick="switchTab('applications')"
            class="inline-block cursor-pointer p-2 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-zinc-300 hover:border-zinc-300 flex-1 sm:flex-none whitespace-nowrap"
            aria-selected="false"
            role="tab"
        >
            Applications
        </button>
    </div>
</div>