<div class="mt-4 sm:mt-6">
    <div class="space-y-4">
        <!-- CV Download section -->
        {% include 'openhire/sections/cv_download.html' %}

        <!-- Status and Availability -->
        {% include 'openhire/sections/status_availability.html' %}

        <!-- Preferred Roles -->
        {% include 'openhire/sections/preferred_roles.html' %}

        <!-- Skills Highlight -->
        {% include 'openhire/sections/skills_highlight.html' %}

        <!-- Professional Details -->
        {% include 'openhire/sections/professional_details.html' %}

        <!-- Languages & Preferences -->
        {% include 'openhire/sections/languages_preferences.html' %}

        <!-- Location Preferences -->
        {% include 'openhire/sections/location_preferences.html' %}

        <!-- Used Tools & Skills -->
        {% include 'openhire/sections/tools_technologies.html' %}
    </div>
</div>